<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="text-center rounded" id="welcomeDashboard">
                <p class=" btn-outline-danger btn-sm  border-danger"><%= link_to 'Checkout Active Listings', properties_path %></p>
                <p class=" btn-outline-danger btn-sm  border-danger"><%= link_to 'Add new listing', new_property_path %></p>
                <p class=" btn-outline-danger btn-sm  border-danger"> <%= link_to 'Edit your Account', edit_user_path(@user) %></p>
            </div>
        </div>
        <div class="col-10">
            <% unless current_user.id == @user.id %>
                <h3 class='card-text text-center'><%= @user.name %>'s listings</h3>
            <% end %>
            <div class="card-deck">
                <% @user.properties.each do |p| %>
                    <div class="col-6">
                        <div class="card bg-light mb-3 border border-danger rounded">
                            <%= image_tag p.image_file.url(:medium), class: "card-img-top img-thumbnail" %>
                            <div class="card-body text-center">
                                <h4 class="card-title"><%= p.address %></h4>
                                <p lass="card-text"> $ <%= p.price %></p>
                                <p class="card-link"><%= link_to 'More details here', property_path(p.id) %></p>
                                <% if current_user.id == @user.id %>
                                    <p class="btn btn-outline-danger"><%= link_to 'Edit property', edit_property_path(p) %></p>
                                    <p class="btn btn-outline-danger"><%= link_to 'Add more photos', new_property_image_path(p) %></p>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>