<h1>Checkout these properties for sale:</h1>

<div>
    <ul>
        <% @properties.each do |p| %>
        <img src="<%= p.image %>" alt="" width="300px", height="200px"> 
        <li>Price($): <%= p.price %></li>
        <li>Address: <%= p.address %></li>
        <li><%= link_to 'More details here', property_path(p.id) %></li>
        <li>Posted by: <%= link_to p.user.name, user_path(p.user) %> about <%= time_ago_in_words p.created_at %></li>
        <hr>
        <% end %>
    </ul>
</div>
