<div>
    <img src="<%= @property.image %>" alt="" width="600px", height="400px">
</div>
<ul>
    <li>Address: <%= @property.address %></li>
    <li>Price($): <%= @property.price %></li>
    <li>Square Footage: <%= @property.sq_footage%></li>
    <li>No. of Bedroom: <%= @property.no_of_bedroom %></li>
    <li>No. of Bathroom: <%= @property.no_of_bathroom %></li>
    <li>Description: <%= @property.description %></li>
</ul>
<h3>Contact: <%= @property.user.name %> @ <%= @property.user.phone %> OR <%= mail_to @property.user.email, nil %></h3>

<button><%= link_to 'Edit', edit_property_path(@property) %></button>